@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dependency Injection</title>
    <link rel="stylesheet" asp-href-include="lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<body class="m-1 p-1">
    @if (ViewData.Count > 0)
    {
    <table class="table table-bordered table-sm table-striped">
        @foreach ( var kvp in ViewData)
        {
        <tr><td>@kvp.Key</td><td>@kvp.Value</td></tr>
        }
    </table>
    }
</body>
</html>