@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CallSharedView</title>
</head>
<body>
    <h1>Displaying from Shared View</h1>
</body>
</html>